<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.etecia.tecnoquiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/TemaSemaBarra">
        <activity android:name=".Closure_Activity"></activity>
        <activity android:name=".QuestionThirteenActivity" />
        <activity android:name=".QuestionTwelve_Activity" />
        <activity android:name=".QuestionEleven_Activity" />
        <activity android:name=".QuestionTen_Activity" />
        <activity android:name=".QuestionNine_Activity" />
        <activity android:name=".QuestionEight_Activity" />
        <activity android:name=".QuestionSeven_Activity" />
        <activity android:name=".QuestionSix_Activity" />
        <activity android:name=".QuestionFive_Activity" />
        <activity android:name=".QuestionFour_Activity" />
        <activity android:name=".QuestionThree_Activity" />
        <activity android:name=".QuestionTwo_Activity" />
        <activity android:name=".Question_Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>